<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.notriddle.balls"
          android:versionCode="10"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">
        <service android:label="@string/app_name"
                 android:name=".Wallpaper"
                 android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data android:name="android.service.wallpaper"
                       android:resource="@xml/wallpaper"/>
        </service>
        <activity android:label="@string/app_name"
                  android:name=".Settings"
                  android:exported="true"/>
    </application>
</manifest>
